:root {
    --background-color: #fffff8;
    --swiper-navigation-size: 24px;
}

@font-face {
    font-family: 'URBANE LIGHT';
    font-style: normal;
    font-weight: 300;
    src: url('Urbane-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'Urbane';
    font-style: normal;
    font-weight: 300;
    src: url('Urbane-Light.ttf') format('truetype');
}

body,
button,
input,
select,
textarea {
    font-family: 'DM Sans', sans-serif;
    font-weight: 400;
    font-size: 15px;
    font-size: 1rem;
    line-height: var(--ast-body-line-height, 1.65);
}

.img-fluid {
    max-width: 100%;
    height: auto
}

.top-bar a {
    color: var(--background-color) !important;
    text-decoration: none;
    transition: 0.3s;
}

.top-bar a:hover {
    color: color-mix(in srgb, var(--background-color), transparent 25%);
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
.site-title,
.site-title a {
    font-family: URBANE LIGHT, Helvetica, Arial, sans-serif;
}

.section-title {
    text-align: center;
    padding-bottom: 30px;
    padding-top: 50px;
    position: relative;
}

.section-btn-center {
    text-align: center;
    padding-bottom: 30px;
    padding-top: 30px;
    position: relative;
}

.section-title h2 {
    font-size: 36px;
    font-weight: 300;
    color: #0235d2
}

.section-content {
    text-align: left;
    color: #0235d2;
    font-size: 18px;
    font-weight: 400;
}

.top-bar {
    min-height: 50px;
    color: #fffff8;
    background-color: #122337;
    font-size: 15px;
    /* padding-top: 10px; */
}

.top-bar .top-info {
    display: inline-flex;
    margin-bottom: 1px;
    /* padding: 4px; */
}

.top-bar .top-info p {
    padding-left: 1rem;
}

.top-bar .top-social-icon {
    text-align: right;
    color: var(--background-color);
    margin-bottom: 1px;
}

.top-bar .top-social-icon .social-icon-row {
    display: inline-flex;
    align-items: center;
    padding: 4px;
    justify-content: flex-end;
}

.top-bar .top-social-icon .social-icon-row p {
    padding-left: 1rem;
}

.top-bar-row {
    display: grid;
    align-content: center;
    min-height: 50px;
}

.top-bar-row p {
    margin: 0;
}

.container {
    max-width: 1180px !important;
}

.container-top {
    width: 100%;
    padding: 10px 20px 0px 20px;
}


.container-header {
    background-image: linear-gradient(190deg, rgb(2, 53, 210) 33%, rgb(18, 35, 55) 95%);
}

.navigation-header {
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    grid-column-gap: 20px;
    overflow-wrap: anywhere;
}

.header-logo {
    flex-wrap: nowrap;
    padding: 2rem 2rem 2rem 0;
}

.header-logo img {
    width: 200px;
    height: auto;
}

.header-items {
    display: inline-flex;
    flex-wrap: nowrap;
    flex-direction: row-reverse;
    align-content: center;
}

.header-items nav ul {
    display: inline-flex;
    flex-wrap: nowrap;
    list-style: none;
    justify-content: space-between;
    margin: 0;
    padding-left: 2rem;
}

.header-items nav ul li {
    line-height: 120px;
    padding: 0px 20px;
    font-size: 1.2rem;
}

.header-items nav ul li a {
    color: #fffff8;
    text-decoration: none;
}

.nav-menu a:hover,
.nav-menu .active>a,
.nav-menu li:hover>a {
    color: #aee8ff;
}

#hero {
    /* width: 100%; */
    /* height: 100vh; */
    background: url(../images/inicio_web-04.1-04.jpg);
    /* background-size: cover; */
    background-position: center center;
    /*position: relative;*/
    /* padding-top: 82px; */
    min-height: 580px;
}

#hero h1,
#hero h2 {
    color: #fffff8;
}

#hero h1 {
    font-size: 46px;
}

#hero p {
    color: #fffff8;
    font-size: 20px;
    padding-top: 1.5rem;
}

#hero .miscelanea {
    padding-top: 1rem;
}

.miscelanea2 {
    padding-bottom: 1rem;
}

#hero .btn-productos {
    font-weight: 400;
    font-size: 18px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 10px 30px;
    border-radius: 10px;
    transition: 0.5s;
    margin-top: 30px;
    color: #fff;
    background-color: #0235d2;
    border-style: none;
    box-shadow: 4px 4px 10px 0px rgba(0, 0, 0, .5);
}

#hero .btn-contacto {
    font-weight: 400;
    font-size: 18px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 10px 30px;
    border-radius: 10px;
    transition: 0.5s;
    margin-top: 30px;
    color: #0235d2;
    background-color: #fffff8;
    border-style: none;
    box-shadow: 4px 4px 10px 0px rgba(0, 0, 0, .5);
}

#counts {
    color: #fffff8
}


.counts {
    background: white;
    padding: 40px 0 40px 0;
    font-family: DM Sans, sans-serif;
}

.counts .count-box {
    /* padding: 30px 30px 25px 30px; */
    width: 100%;
    position: relative;
    text-align: center;
    /* background: #fff; */
    /* background: #e6f4fc; */
}

.counts .count-box span {
    font-size: 54px;
    display: block;
    font-weight: 500;
}

.counts .count-box p {
    padding: 0;
    margin: 0;
    font-size: 14px;
}


.btn-principal {
    font-weight: 400;
    font-size: 18px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 10px 30px;
    border-radius: 10px;
    transition: 0.5s;
    margin-top: 30px;
    color: #fff;
    background-color: #0235d2;
    border-style: none;
    box-shadow: 4px 4px 10px 0px rgba(0, 0, 0, .5);
    text-decoration: none;
}

.slider-pic {
    box-shadow: 4px 4px 10px 0px rgba(0, 0, 0, .5);
}

.section-back-dark {
    background-color: transparent;
    background-image: linear-gradient(354deg, #122337 0%, #0235d2 100%);
}

.section-back-dark2 {
    background-color: transparent;
    background-image: linear-gradient(220deg, #0235d2 0%, #122337 100%);
}

.section-subtitle {
    color: #0235d2;
    font-size: 18px;
    max-width: 800px;
    margin: 0 auto;
}

/*
    CARDS
*/
.cards-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 30px;
    margin-bottom: 40px;
}

.card-product {
    background: white;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.4);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card-product:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
}

.card-product-header {
    /* background: #3498db; */
    background: #0235d2;
    color: white;
    padding: 20px;
}

.card-product-title {
    /* font-size: 1.8rem; */
    font-size: 24px;
    color: #fffff8;
    margin: 0;
    text-align: center;
}

.card-product-body {
    padding: 25px;
}

.card-product-description {
    margin-bottom: 20px;
    /* color: #555; */

    text-align: left;
    color: #0235d2;
    font-size: 16px;
    font-weight: 400;
}

.card-product-distributor {
    background: #f8f9fa;
    padding: 15px;
    border-left: 4px solid #3498db;
    font-style: italic;
    color: #555;
}


.parallax {
    background-attachment: fixed;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
}

.familiar-bg {
    background: transparent url("../images/nuestra-empresa-nueva-banner.jpg") no-repeat scroll center center/center;
    color: #fff;
    position: relative;
    text-align: center;
    z-index: 1;
}

#familiar {
    background-image: url(../images/nuestra-empresa-nueva-banner.jpg);
    padding: 0;
    color: #fff;
    position: relative;
    min-height: 350px;
}

#familiar .overlay {
    background-image: linear-gradient(360deg, #0235d2 27%, #fffff8 100%);
}

.section-title-white {
    text-align: center;
    padding-top: 100px;
}

.section-title-white h2 {
    font-size: 48px;
}

.section-text-white p {
    text-align: center;
    color: #fffff8;
    font-size: 80px;
}

.section-subtitle-white {
    padding-top: 40px;
}

.banner-proveedor-text {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.banner-proveedor-text h2 {
    font-size: 40px;
}

.img-banner {
    width: 300px;
}

.section-cta {
    background: linear-gradient(11deg, rgb(35 43 76) 10%, rgb(31 36 54) 39%, rgba(35, 53, 117, 1) 64%, rgb(30 53 160) 92%);
    color: #fffff8
}

.section-cta-white {
    text-align: center;
    padding-top: 80px;

}

.section-cta h2 {
    font-size: 40px;
}

.section-cta-white p {
    text-align: center;
    color: #fffff8;
    font-size: 30px;
}

.section-cta-subtitle-white {
    padding-top: 20px;
}

.center-banner {
    text-align: center !important;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.center-banner h3 {
    color: #aee8ff;
}

.cta-line {
    height: 3px;
    background-color: #aee8ff;
}

.section-btn-center {
    padding-bottom: 40px;
}

.footer {
    padding: 70px 0px;
    display: block;
    color: #fffff8;
    background-color: #122337;
}

/*0a36bd*/


/*--------------------------------------------------------------
# proveedores Section
--------------------------------------------------------------*/

.swiper {
    width: auto;
    /* width: 600px; */
    /* height: 300px; */

}


.swiper-slide {
    text-align: center;
    font-size: 18px;
    /* background: #444; */
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: auto;
    /* object-fit: cover; */
}

.swiper-fig {
    margin-block-start: 1em;
    margin-inline-start: 40px;
}

.swiper-button-prev {
    z-index: 1 !important;
    color: tomato !important;
}

/* 

taba comentado
.proveedores .swiper-slide img {
    opacity: 0.5;
    transition: 0.3s;
    filter: grayscale(100);
    width: 100%;
    height: auto;
}

.proveedores .swiper-slide img:hover {
    filter: none;
    opacity: 1;
    scale: 1.1;
}

.proveedores .swiper-wrapper {
    height: auto;
}

.proveedores .swiper-pagination {
    margin-top: 20px;
    position: relative;
}

.proveedores .swiper-pagination .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    opacity: 1;
    background-color: color-mix(in srgb, var(--default-color), transparent 80%);
}

.proveedores .swiper-pagination .swiper-pagination-bullet-active {
    background-color: var(--accent-color);
}

.proveedores .swiper-slide p {
    font-size: 14px;
    margin-top: 5px;
    text-align: center;
    white-space: nowrap;
    font-family: var(--heading-font);
    font-weight: 600;
}

*/
@media (max-width: 768px) {
    .top-bar .top-info {
        text-align: center;
        display: inline-block;
    }

    .top-bar .top-info p {
        margin-bottom: 1px;
    }

    .top-bar .top-social-icon {
        text-align: center;
    }

    .cards-container {
        grid-template-columns: 1fr;
    }

    .banner-proveedor-text {
        padding-top: 30px;
    }

    .img-banner {
        width: 190px;
    }
}

/* @media (max-width: 768px) {

    h1 {
        font-size: 2rem;
    }
} */